# Block common file extensions
*.exe
*.doc
*.docx
*.gdoc
IaC assignments/learn.main.bicep
Random_files/main.bicep
Random_files/new_dict
Random_files/new_dict_excel
Random_files/opdracht7.drawio
Random_files/Network_diagram_assignment6.drawio
IaC assignments/private(no github)